apiVersion: v2
name: fuse
version: 1.2.4
appVersion: sha-c0dc5ab
description: Fuse syncs data from Git into a SQL database for use in BI/visualization/other tools.
home: https://www.mergestat.com/
icon: https://github.com/mergestat/mergestat/blob/main/docs/logo.png
sources:
  - https://github.com/mergestat/fuse
maintainers:
  - name: patrickdevivo
    email: patrick@mergestat.com
  - name: matoszz
    email: manderson@mergestat.com
engine: gotpl
type: application
dependencies:
  - name: postgresql
    version: ~11.1.24
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 1.x.x
